body {
  margin: 0;
  padding: 0;
}

.navbar {
  position: absolute;
  top: 0px;
  right: 200px;
}

.snip1143 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.snip1143 * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1143 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 12px;
  overflow: hidden;
}

.snip1143 a {
  padding: 0.3em 0;
  color: black;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Cabin', sans-serif;
}

.snip1143 a:before,
.snip1143 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1143 a:before {
  top: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #c0392b;
}

.snip1143 a:after {
  padding: 0.3em 0;
  position: absolute;
  top: 100%;
  left: 0;
  content: attr(data-hover);
  color: rgb(210, 102, 102);
  white-space: nowrap;
}

.snip1143 li:hover a,
.snip1143 .current a {
  transform: translateY(-100%);
}

.contact-number {
  color: black;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
  margin-right: 10px;
  position: absolute;
  top: 20px;
  right: 40px;
}


.main-container {
  width: 100%;
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
}

.contact-form input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  color: black;
  padding: 12px 20px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  width: 100%;
}

input[type=submit]:hover {
  background-color: black;
  color: white
}

.contact-form-content {
  border-radius: 5px;
  padding: 20px;
  width: 450px;
}

.about-us-title {
  margin-left: 50px;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  font-size: 100px;
  font-family: 'Poppins', sans-serif;
}

.about-us-content {
  margin-left: 50px;
  width: 600px;
  justify-content: center;
  font-size: 16px;
  font-family: Muli, sans-serif;
  color: rgb(99, 99, 99);
  font-weight: 400;
  line-height: 26px
}

.section-testimonial {
  height: 500px;
  width: 100%;
}

.section-testimonial h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
}

.testimonial {
  display: flex;
  height: 420px;

}

.child-section {
  width: 40%;
}

.user-profile {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: 50%;
  margin-top: 20px;
}

.child-section p {
  width: 400px;

  letter-spacing: 1px;
  line-height: 1.5em;
  margin-left: 30%;
  color: rgb(35, 35, 35);
}

.child-section h4 {
  margin-left: 30%;
  margin-top: -5px;
}

.audio {
  margin-left: 30%;
  padding-bottom: 20px;
}

.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  font-family: 'Source Code Pro', monospace;
  text-transform: lowercase;
  line-height: 3rem;
  color: white;
  text-align: center;
  padding-top: 30px;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
  text-align: center;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  ;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  font-family: 'Source Code Pro', monospace;
}

.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

footer {
  display: flex;
  justify-content: space-evenly;
}

.business-hour table {
  color: white;
  margin: 50px;
  border: 1px solid white;
  /* width: 100px; */
}

table,
td,
th {
  width: 300px;
  padding: 2px;
}

@media screen and (max-width: 912px) {
  .section-testimonial {
    height: 870px;
  }

  .main-container {
    flex-direction: column-reverse;
  }

  .about-us-title {
    flex-direction: row;
    font-size: 72px;
  }

  .about-us-title div {
    margin-left: 10px;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form-content {
    width: auto;
  }

  .about-us-content {
    width: auto;
  }

  .testimonial {
    display: block;
    width: 100%;
    justify-content: center;
  }

  .child-section {
    width: auto;
  }

  footer {
    display: block;
  }

  .business-hour {
    margin-left: 25%;
    padding-bottom: 1px;
  }
}

/* mobile view */
@media screen and (max-width: 576px) {


  .about-us-title {
    margin-left: 15px !important;
  }

  footer {
    display: none;
  }

  .about-us-content {
    margin-left: 0px !important;
    padding: 30px;
  }

  .child-section p {
    width: 359px;
    letter-spacing: 1px;
    line-height: 1.5em;
    margin-left: 8%;
    color: rgb(35, 35, 35);
  }

  .user-profile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 50%;
    margin-top: 20px;
  }

  audio {
    margin-left: -50px;
  }
}